.mainhead{
    width: 1381px;
    height: 1040px;
    top: 174px;
    left: 19px;
}
.mainhead h1{
    width: 489px;
    height: 164px;
    top: 226px;
    left: 200px;
    gap: 0px;
    opacity: 0px;
    font-family: Noto Serif;
    font-size: 92px;
    font-weight: 500;
    line-height: 82.06px;
    text-align: left;
}
#buildp{
    width: 619px;
    height: 86px;
    top: 420px;
    left: 200px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    text-align: left;   
}
#minip{
    width: 415px;
    height: 93px;
    top: 640px;
    left: 204px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: left;
}
#Brevno{
    width: 302px;
    height: 287px;
    top: 450px;
    left: 1048px;
    gap: 0px;
    opacity: 0px;
}
#Dom{
    width: 1200px;
    height: 669px;
    top: 545px;
    left: 200px;
    gap: 0px;
    opacity: 0px;
}
#logo2{
    width: 134px;
    height: 134px;
    top: 1075px;
    left: 214px;
    gap: 0px;
    opacity: 0px;
}
