.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin-bottom: 170px;
}

main {
    margin-top: 30px;
    margin-left: 200px;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.way {
    font-family: Roboto;
    font-size: 16px;
    line-height: 19.2px;
    color:#353333E5;
    display: flex;    
    margin-bottom: 47px;
}

.way a {
    color: #353333;
    font-size: 16px;
    line-height: 19.2px;
    text-decoration: none;
    border-bottom: 1px solid #353333;
    padding-bottom: 3px;
}

.way p {
    color: #9F7B50;
    font-size: 16px;
    line-height: 19.2px;
}

.main_content {
    width: 850px;
    display: flex;
    flex-direction: column;
}

.main_content h1 {
    font-family: Noto Serif;
    font-size: 42px;
    line-height: 50.4px;
    font-weight: 500;
    color: #353333;
    margin-bottom: 50px;
}

.buildTimberHouse {
    margin-bottom: 70px;
}

.timberHouseAdvantages h2{
    margin-bottom: 35px;
}

.timberHouseAdvantages ul{
    margin-bottom: 30px;
    margin-top: 20px;
}

.moreinf, .main_content p{
    font-size: 16px;
    line-height: 22.4px;
    color: #353333E5;
    font-weight: 400;
}

.main_content h2 {
    font-family: Noto Serif;
    font-weight: 400;
    font-size: 38px;
    line-height: 45.6px;
    color: #353333;
}

.main_content li{
    list-style: none;
    display: flex;
    align-items: baseline;
}

.main_content li img {
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.advantages h2 {
    font-weight: 500;
}

.advantages_list_item .smallinf{
    font-size: 28px;
    line-height: 33.6px;
    font-weight: 400px;
    margin-bottom: 25px;
}

.advantages {
    margin-top: 100px;
}

.advantages_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
    width: 727px;
}

.advantages_list_item {
    width: 295px;
    height: 159px;
    margin-bottom: 45px;
}



aside {
    width: 340px;
    height: 1297px;
    margin-right: 200px;
    margin-top: 61px;
    background-color: #F9F9F9;
}

aside div p{
    font-size: 16px;
    line-height: 19.2px;
    color: #353333;
    margin: 0 auto;
    margin-top: 12.22px;
}

aside div img {
    width: 190px;
    height: 116.78px;
    margin: 0px 75px;
}

aside div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
}