*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
    display: flex;
    gap: 40px;
}
.logo{
    width: 107px;
    height: 107px;
    margin-left: 186px;
}
.numbers{
    font-size: 22px;
}
.telephon{
    width: 20px;
    height: 21px;
    margin-top: 40px;
    margin-left: 80px;
}
.htext{
    margin-top: 45px;
    font-size: 18px;
    height: 25px;
}
.lineh{
    position: absolute;
    width: 1060px;
    height: 0px;
    top: 110px;
    left: 200px;
    background-color: #3533334D;
    border: 1px solid #3533334D
}
.elipseh{
    position: absolute;
    width: 3px;
    height: 3px;
    top: 56px;
    background-color: black;
}
.elipseh1{
    left: 950px;
}
.elipseh2{
    left: 955px;
}
.elipseh3{
    left: 960px;
}
header ul{
    list-style: none;
    margin-top: 48px;
}
header ul li a{
	text-decoration: none;
    color: black;
}
header ul li a:hover{
    color: #725C44;
}
header ul li ul{
    position: absolute;
	box-shadow: 0 2px 5px rgba(0,0,0,0.5);
	opacity:0;
	visibility: hidden;
	transition: 0.5s;
    width: 313px;
    height: 221px;
    padding: 20px;
}
header ul li:hover ul{
    opacity:1;
	visibility:visible;
}
.htext a:hover{
    color: #725C44;
}
.htext a{
    text-decoration: none;
    color: black;
}
header ul li ul:hover{
    background-color: #725C44;
}
header ul li ul li a:hover{
    color: white;
}
header ul li ul li{
    margin-top: 24px;
}